html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

#logo {
  top: 30px;
  width: 50px;
  padding: 10px;
  position: absolute;
  right: 30px;
}

#info-box {
  background-color: white;
  opacity: 0.9;
  border: 1px solid gray;
  border-radius: 10px;
  bottom: 70px;
  height: 150px;
  width: 150px;
  padding: 10px;
  position: absolute;
  left: 30px;
}

#zip-fields {
    display: inline-block;
}

#zip {
  width: 50%;
}

#go-btn {
  color: #E51B2D;
  border: 2px solid #254DA3;
}
