@import 'https://fonts.googleapis.com/css?family=Open+Sans';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#map {
  height: 100%;
}

#logo {
  top: 30px;
  width: 120px;
  padding: 10px;
  position: absolute;
  right: 30px;
}

#info-box {
  background-color: white;
  opacity: 0.9;
  border: 2px solid #B3B3B3;
  border-radius: 10px;
  bottom: 50px;
  height: 200px;
  width: 200px;
  padding: 10px;
  position: absolute;
  left: 30px;
}

#info-box:hover {
  border-width: 3px;
  border-color: #BABEDC;
  padding: 9px;
}

#zip-fields {
    display: inline-block;
}

#zip {
  width: 50%;
}

#go-btn {
  color: #E51B2D;
  border: 2px solid #254DA3;
}

.legend-icon {
  height: 16px;
  width: 16px;
}
